<html> 
<body> 
    
    <form action = "/info" method = "POST"> 
        <p><h3>Enter user Information</h3></p> 
        <p><h3>First Name</h3></p>
        <p><input type = 'text' name = 'First'/></p>
        <p><h3>Last Name</h3></p> 
        <p><input type = 'text' name = 'Last'/></p>
        <p><h3>Age</h3></p> 
        <p><input type = 'number' name = 'Age'/></p>
        <p><h3>School</h3></p> 
        <p><input type = 'text' name = 'School'/></p>
        <p><h3>Email</h3></p> 
        <p><input type = 'email' name = 'Email'/></p>
        <p><h3>Password</h3></p> 
        <p><input type = 'password' name = 'Password'/></p> 
        <p><input type = 'submit' value = 'Enter'/></p> 
    </form> 
        
</body> 
</html>